<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Supervisor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Supervisor.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlaveAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Retries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NewFilePath" serializeAs="String">
                <value/>
            </setting>
        </Supervisor.Properties.Settings>
    </userSettings>
</configuration>
